<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left" style="font-size:15px;">
                &copy;
                <%= date(new Date(), 'YYYY') %>
                    <%= config.author || config.title %>
            </div>
            <div class="footer-center" style="font-size:15px;">
                <a  href="https://beian.miit.gov.cn">浙ICP备2021012892号</a>
                <a  href="http://hexo.io/" target="_blank"><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Hexo</a> Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
            </div>
        </div>
    </div>
</footer>



<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>